apiVersion: batch/v1
kind: Job
metadata:
  name: job
  namespace: job
spec:
  template:
    spec:
      containers:
        - name: hello
          image: busybox
          command:
            [
              "/bin/sh",
              "-c",
              "mkdir -p /output && echo 'Hello from Kubernetes Job By Betrand Mutagha' > /output/job-output.txt && sleep 300",
            ]
      restartPolicy: Never
      tolerations:
        - key: "node.kubernetes.io/disk-pressure"
          operator: "Exists"
          effect: "NoSchedule"
